
<!DOCTYPE html>
<html><head>

  <!--{% block head %}-->
    {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>Login Form</title>
  
  <link rel="stylesheet" href="{% static "home/reset.min.css" %}">
  <link rel="stylesheet" href="{% static "home/style.css" %}">
  <link rel="stylesheet" href="{% static "home/style2.css" %}">
  <link rel="stylesheet" href="{% static "home/style3.css" %}">
  <link rel="stylesheet" href="{% static "home/style4.css" %}">

  <!--{% endblock %}-->
</head>
<!--{% block aa %}background="{% static "./Flat Login Form_files/abc.png" %}"{% endblock %}-->
<body background="{% static "home/images/abc.png" %}">
  <!--{% block body %}-->
<div class="container">
  <div class="info">
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="{% static "home/images/logo.png" %}" height="auto" width="auto" ></div>

  <form class="login-form" id="fm" method="post" action="">
    {% csrf_token %}
    <input type="text" placeholder="Username" name="user">
    <input type="password" placeholder="Password" name="pass">

    <button type="submit" form="fm">Login</button>
    <p class="message">Not registered? <a href="http://127.0.0.1:8000/signup/">Create an account</a></p>
  </form>
</div>
  <script src="{% static "home/log.js" %}"></script>
    <script src="{% static "home/index.js" %}"></script>
<!--{% endblock %}-->


</body></html>